server {
    listen {{ item.listen | default('80') }};
    server_name {{ item.server_name }};

    root {{ item.root }};

    index {{ item.index | default('index.html') }};

    {% if item.error_page is defined %}
    error_page {{ item.error_page }};
    {% endif %}
    {% if item.access_log is defined %}
    access_log {{ item.access_log }};
    {% endif %}
    {% if item.error_log is defined %}
    error_log {{ item.error_log }} error;
    {% endif %}

    include /etc/nginx/global.d/*.conf;

    {% if item.extra_parameters is defined %}
    {{ item.extra_parameters }}
    {% endif %}
}
